export RG_NAME=sample12-vue3app-okym
export LOCATION=japaneast

export STORAGE_ACCOUNT_NAME=sample18appivue3

export VITE_APP_APPINSIGHTS_CONNECT_STRING="InstrumentationKey=82f485cd-52d8-4dd4-ba3e-2d4b28ca40dd;IngestionEndpoint=https://japaneast-1.in.applicationinsights.azure.com/;LiveEndpoint=https://japaneast.livediagnostics.monitor.azure.com/"
